{:lint-as {clara.rules/defrule {:ns clojure.core
                               :name def}
           clara-eav.rules/defrule {:ns clojure.core
                                   :name def}
           clara.rules/defquery {:ns clojure.core
                                :name def}
           clara-eav.rules/defquery {:ns clojure.core
                                    :name def}}
 :linters {:unresolved-symbol {:exclude-patterns ["\\?.*" "^[a-zA-Z][a-zA-Z0-9-_*+!?]*[a-zA-Z0-9]$"]
                               :exclude #{:eav/all  <- -> => this _ acc/count}}
           :syntax {:exclude #{:unsupported-binding-form}}}}